
// Small screens
@media only screen { } /* Define mobile styles */
@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */
// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */










body {
}


/* about us */
.about-us {
    margin: 5em 0 10em 0;
}

/* services */
.services-list {
    margin-bottom: 10em;
}
.services-list img {
    /* width: 200px; */
}
.services-list > .row {
    margin-bottom: 10em;
}
.services-list > .services {
    margin-bottom: 4em;
}
@media only screen and (min-width: 64.063em) { /* min-width 1025px, large screens */
    .services-list .ror .image,
    .services-list .devops .descr,
    .services-list .html5 .image,
    .services-list .project-management .descr,
    .services-list .nodejs .image,
    .services-list .uiux .descr {
        text-align: right;
    }
    
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
    .services-list .ror .image,
    .services-list .devops .image,
    .services-list .html5 .image,
    .services-list .project-management .image,
    .services-list .nodejs .image,
    .services-list .uiux .image {
        text-align: center;
    }
}

/* footer */
.footer-top {
    background: #2ba6cb;
    padding: 20px 0 50px 0;
}
.footer-top ul.products li,
.footer-top ul.services li,
.footer-top ul.knowledge-base li,
.footer-top ul.about-us li {
    /* border-bottom: 1px solid #666; */
    padding: .2em;
    background: #5EBEDB;
    margin-bottom: 4px;
}
.footer-bottom {
    padding-top: 1em;
    
    background: #333;
    color: #666;
    height: 120px;
}

