
body {
}


/* about us */
.about-us {
    margin: 5em 0 10em 0;
}

/* services */
.services-list {
    margin-bottom: 10em;
}
.services-list img {
    width: 200px;
}
.services-list > .row {
    margin-bottom: 3em;
}

/* footer */
.footer-top {
    background: #2ba6cb;
    padding: 20px 0 50px 0;
}
.footer-top ul.products li,
.footer-top ul.services li,
.footer-top ul.knowledge-base li,
.footer-top ul.about-us li {
    /* border-bottom: 1px solid #666; */
    padding: .2em;
    background: #5EBEDB;
    margin-bottom: 4px;
}
.footer-bottom {
    padding-top: 1em;
    
    background: #333;
    color: #666;
    height: 120px;
}

