
.about-wasya-co
  .row
    .large-12.columns
      .text-center
        = image_tag '400x400/the-cloud.png'
  .row
    .large-10.small-8.small-centered.end.columns
      %h5 About Wasya.co
      %p We are a niche consulting firm in San Francisco Bay Area focusing on web development and devops. We service startups, small- and medium-sized local businesses who have a focus on technology. We strive to utilize the modern best development practices and provide our clients with the most effective tooling possible.

