
.row.footer-top
  .large-4.columns
  .large-4.columns
  .large-4.columns
    %ul.icons
      %li
        %a.btn.btn-linkedin
          %i.icon-linkedin
            Connect with Linkedin
            
      %li Twitter
      %li
        %a.btn.btn-facebook
          .icon-facebook
            Facebook
      %li Youtube
      %li Github

.row.footer-bottom
  .large-4.large-push-4.columns
    \~__^
