
%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "javascript:void(0);"} Wasya.co
    %li.toggle-topbar.menu-icon
      %a{:href => "javascript:void(0);"}
        %span Menu
  %section.top-bar-section
    %ul.right
      - # %li
      - #   %a Products
      %li
        %a.services{ :href => "javascript:void(0);" } Services
      %li
        = link_to "Knowledge Base", "http://wiki.computationalartscorp.com"
      %li
        %a.about{ :href => "javascript:void(0)" } About
      %li
        = link_to "Contact", contact_path
        
