%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"} Wasya.co
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li
        %a Products
      %li
        %a Services
      %li
        %a Knowledge Base
      %li.has-dropdown
        %a About Us
        %ul.dropdown
          %li
            %a About Us
          %li
            %a Contact
