
.footer-top
  .row
    .large-4.large-push-8.columns
      %ul.no-bullet
        %li
          %a.services{ :href => "javascript:void(0);" } Services
        %li
          %a.about{ :href => "javascript:void(0)" } About
        %li
          = link_to "Contact", contact_path
      %h4 Knowledge Base
      %ul.knowledge-base.no-bullet
        %li= link_to 'Blog', "http://blog.wasya.co"
        %li= link_to 'Wiki', "http://wiki.computationalartscorp.com"
  
.footer-bottom
  .row
    .large-4.columns
      ^__^
    .large-4.columns
      Copyright &copy; 2013-2015 Wasya.co
    .large-4.columns
      = render 'version'
